<html>
  <head>
  </head>
  <body>
      <article>
        <section class ="Section">
          <h2 class="section-title"><%= t("home.new_user") %></h2>
          <div>
            <a class="section-link" href=<%= view_register_users_path %> ><%= t("home.sign_up") %></a>
          </div>
        </section>
        <section class ="Section">
          <h2 class="section-title"><%= t("home.already_have_account") %></h2>
          <div>
            <a class="section-link" href=<%= view_login_sessions_path %>  ><%= t("home.sign_in") %></a>
          </div>
        </section>
      </article>
  </body>
</html>
